USE [master]
GO
/****** Object:  Database [EasyCMS]    Script Date: 2/1/2021 2:46:06 PM ******/
CREATE DATABASE [EasyCMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EasyCMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EasyCMS.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EasyCMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EasyCMS_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EasyCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EasyCMS]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 2/1/2021 2:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](500) NULL,
	[opt1] [nvarchar](500) NULL,
	[opt2] [nvarchar](500) NULL,
	[opt3] [nvarchar](500) NULL,
	[opt4] [nvarchar](500) NULL,
	[subjectId] [int] NULL,
	[answer] [nvarchar](500) NULL,
	[created] [date] NULL CONSTRAINT [DF__Question__create__145C0A3F]  DEFAULT (getdate()),
	[status] [nchar](10) NULL,
 CONSTRAINT [PK__Question__3213E83F8A699FDE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuizHistory]    Script Date: 2/1/2021 2:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [int] NULL,
	[subjectid] [int] NULL,
	[numOfQuiz] [int] NULL,
	[correctAnswer] [int] NULL,
	[dateQuiz] [date] NULL,
 CONSTRAINT [PK__QuizHist__3213E83FD3ECA7B0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 2/1/2021 2:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectId] [int] IDENTITY(1,1) NOT NULL,
	[subjectName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/1/2021 2:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](200) NULL,
	[email] [nvarchar](50) NULL,
	[type] [int] NULL,
 CONSTRAINT [PK__Users__3213E83FC62BE222] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([id], [content], [opt1], [opt2], [opt3], [opt4], [subjectId], [answer], [created], [status]) VALUES (1, N'Swing components that don''t rely on native GUI are referred to as ___________.
', N'lightweight components', N'heavyweight components', N'GUI components', N'non-GUI components', 1, N'1', CAST(N'2018-05-30' AS Date), N'Active    ')
INSERT [dbo].[Question] ([id], [content], [opt1], [opt2], [opt3], [opt4], [subjectId], [answer], [created], [status]) VALUES (2, N'EJB 3.0 specifications are first implemented in ______', N'Java EE 5', N'Java EE 4', N'Java EE 3', N'Java EE 6', 2, N'2', CAST(N'2018-05-30' AS Date), N'Active    ')
INSERT [dbo].[Question] ([id], [content], [opt1], [opt2], [opt3], [opt4], [subjectId], [answer], [created], [status]) VALUES (3, N'__________ are referred to as heavyweight components.', N'AWT components', N'Swing components', N'GUI components', N'Non-GUI components', 1, N'1', CAST(N'2018-05-30' AS Date), N'Active    ')
SET IDENTITY_INSERT [dbo].[Question] OFF
SET IDENTITY_INSERT [dbo].[QuizHistory] ON 

INSERT [dbo].[QuizHistory] ([id], [studentId], [subjectid], [numOfQuiz], [correctAnswer], [dateQuiz]) VALUES (1, 5, 1, 3, 2, NULL)
INSERT [dbo].[QuizHistory] ([id], [studentId], [subjectid], [numOfQuiz], [correctAnswer], [dateQuiz]) VALUES (2, 5, 2, 6, 2, NULL)
INSERT [dbo].[QuizHistory] ([id], [studentId], [subjectid], [numOfQuiz], [correctAnswer], [dateQuiz]) VALUES (3, 7, 2, 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[QuizHistory] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([subjectId], [subjectName]) VALUES (1, N'PRJ311')
INSERT [dbo].[Subject] ([subjectId], [subjectName]) VALUES (2, N'PRJ321')
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [email], [type]) VALUES (1, N'Minh', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'mra00000@gmail.com', 1)
INSERT [dbo].[Users] ([id], [username], [password], [email], [type]) VALUES (2, N'Vo Tan Tai', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'ahihi@gmail.com', 1)
INSERT [dbo].[Users] ([id], [username], [password], [email], [type]) VALUES (3, N'Do Duc Nam', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'ah@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Subject] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Subject]
GO
ALTER TABLE [dbo].[QuizHistory]  WITH CHECK ADD  CONSTRAINT [FK_QuizHistory_Subject] FOREIGN KEY([subjectid])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[QuizHistory] CHECK CONSTRAINT [FK_QuizHistory_Subject]
GO
ALTER TABLE [dbo].[QuizHistory]  WITH CHECK ADD  CONSTRAINT [fk_studentId_1] FOREIGN KEY([studentId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[QuizHistory] CHECK CONSTRAINT [fk_studentId_1]
GO
USE [master]
GO
